@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #101922;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #101922;
  color: #e7e5e4;
}

.animate-on-load {
  opacity: 0;
}
